/* General Styles */
:root {
  --nav-color: rgba(0, 0, 0, 0.87);
  --under-color: rgb(60, 64, 67);
  --under-under-color: rgb(34, 34, 34);
  --footer-color: rgba(0, 0, 0, 0.54);
  --link-color: rgb(26, 13, 171);
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: gray;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

li {
  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}


/* top nav bar */
#nav {
  align-self: flex-end;
  padding: 0;
  color: var(--nav-color);
}

#nav ul {
  position: relative;
  right: 16px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}

#nav li:hover {
  text-decoration: underline;
}

#apps-icon:hover, #profile:hover {
  box-shadow: 0 0 0 8px rgba(60,64,67,0.08);
  background-color: rgba(60,64,67,0.08);
}

#profile:hover {
  box-shadow: 0 0 0 5px rgba(60,64,67,0.08);
}

#apps-icon {
  position: relative;
  top: 1px;
  font-size: 24px;
  color: rgb(95, 99, 104);
  border-radius: 50%;
}

#profile {
  border-radius: 50%;
}

/* google logo image */
#image-div {
  margin-top: 20vh;
}

/* searchbar */
#search-div {
  margin-top: 27px;

}

#search-div input {
  width: 600px;
  border-radius: 30px;
  border: 1px rgb(223, 225, 229) solid;
  height: 45px;
  background-color: white;
  padding-left: 50px;
  padding-right:50px;
  font-size: 16px;
}

/* media queries */
@media (max-width: 656px) {
  #search-div input {
    width: 90vw;
  }
  body {
    /* temp */
    background: gray;
  }
}

/* notes

1. Add 'search' icon in searchbar

*/

