* {
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: gray;
  align-items: center;
  margin: 0;
}



#nav {
  align-self: flex-end;
  padding: 0;
}

#nav ul {
  position: relative;
  right: 16px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}

#apps-icon {
  position: relative;
  top: 1px;
  font-size: 24px;
}

#profile {
  border-radius: 50%;
}

/* General Styles */
li {
  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}



